
  <ion-card *ngIf="!items || items.length===0; else notEmpty">
      <ion-card-header>
        <ion-card-subtitle>Controlli</ion-card-subtitle>
        <ion-card-title>Aggiungi i controlli all'avventura</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        I controlli sono degli oggetti che interagiscono con ad alcuni altri oggetti dell'avventura (PNG, Luoghi, ecc). Ai controlli può essere assegnato un valore e possono determinare il comportamento degli altri oggetti
        se fanno riferminento ad essi.
        <ul>
          <strong>
            Esempi
          </strong>
          <li>Una prova abilità assegnata ad un PNG, può essere svolta a secondo del valore di un controllo</li>
          <li>Se una prova viene risolta o fallita può essere cambiato il valore di un controllo</li>
        </ul>
      </ion-card-content>
  </ion-card>

  <ng-template #notEmpty>
    <ion-item *ngFor="let badge of items" >
      <ion-label>
        Name: {{badge.name}}
      </ion-label>
      <ion-label *ngIf="badge.value">
        Valore: {{badge.value}}
      </ion-label>
      <ion-button slot="end" (click)="delete(badge)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-buttons *ngIf="badge.value">
        <ion-button  (click)="add(true, badge)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="add(false, badge)">
          <ion-icon name="remove-outline" ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-toggle [(ngModel)]="badge.active" (ionChange)="activebadge(badge, $event)"></ion-toggle>
    </ion-item>
  </ng-template>

  <form [formGroup]=badgeForm *ngIf="formVisible">
    <ion-item>
      <ion-label slot="start">
        Nome:
      </ion-label>
      <ion-input formControlName="name">

      </ion-input>
      <ion-label>
        Valore:
      </ion-label>
      <ion-input formControlName="value">

      </ion-input>

      <ion-label *ngIf="active ; else passiva">Attiva</ion-label>
      <ng-template #passiva>
        <ion-label >Passiva</ion-label>
      </ng-template>
      <ion-toggle [(ngModel)]="active" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
  </form>

  <ion-button slot="center" fill="none" expand="block" (click)="createBadge()" >
    <ion-icon name="add-circle-outline" size="large" color="primary"></ion-icon>
  </ion-button>