<ion-accordion-group>
  <ion-accordion value="colors">
    <ion-item slot="header">
      <ion-title class="ion-margin">
        <ion-label>
          <ion-icon name="skull"></ion-icon>
          Gli incontri
        </ion-label>
      </ion-title>
    </ion-item>

    <ion-list slot="content">
      <div class="ion-padding">
        <ion-label class="ion-text-wrap">
          In questo pannello vengono creati gli incontri, quindi si aggiungono i mostri descritti da: nome del mostro, tipo del mostro, vita, livello e link alla pagina del mostro.
        </ion-label>
        <ion-label class="ion-float-left ion-text-wrap">
          Una volta generato un incontro ad esso si potrà assegnare un tesoro dalla sezione dei <ion-text color="primary" class="ion-text-capitalize">Tesori</ion-text>
        </ion-label>
        <ion-label class="ion-float-left ion-text-wrap">
          Una volta realizzato l'incontro questo verrà gestito in un'altra sezione, denominata <ion-text color="primary" class="ion-text-capitalize">combattimento</ion-text> semplicemente cliccando sul pulsante.
        </ion-label>
        <ion-label class="ion-float-left ion-text-wrap">
          Infine quando un inontro verrà risolto: sarà possibile risolverlo da questo pannello cliccando sull'apposito pulsante <ion-text color="primary" class="ion-text-capitalize">risolvi</ion-text>. Questa azione assegnerà i punti esperienza e i tesori ai PG.
        </ion-label>
      </div>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>