/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-modal{
    --height: 100vh;
}


.skills-interface {
    .Forza{
        --color: #ec0e06;
        --color-hover: #a11d14;
    };

    .Destrezza{
        --color: #2ec919;
        --color-hover: #147238;
    }

    .Saggezza{
        --color: #c919c9;
        --color-hover: #721472;
    }

    .Intelligenza{
        --color: #195fc9;
        --color-hover: #2d1472;
    }

    .Carisma{
        --color: #646b00;
        --color-hover: #222101;
    }

  }