<ng-container *ngIf="adventures.length!=0; else emptyadventure">
  <ion-card  *ngFor="let adventure of adventures" class="ion-padding-horizontal">
    <ion-item>
    <ion-button slot="end" (click)="openModal(adventure.id)">  
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="editAsventure(adventure)"> 
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <h1>
      <ion-text color="primary">
          Titolo:
      </ion-text>
       {{adventure.title}}
    </h1>
    </ion-item>
    <p>
      <ion-text color="primary">
          Descrizione: 
      </ion-text>{{adventure.description}}
    </p>
  </ion-card>
</ng-container>

<ng-template #emptyadventure>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Avventure</ion-card-subtitle>
      <ion-card-title>Costruisci la tua avventura</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      L'avventura è il nodo principale dell'applicazione: può essere pensata come un 
      <strong>
        insieme
      </strong> di tenti componenti intrecciati tra loro come ad esempio (png, insediamenti, prove abilità e altro)
    </ion-card-content>
  </ion-card>
</ng-template>

<ion-modal [isOpen]="delete_modal_visibility">
    <ng-template>
      <ion-content>Sei veramente sicuro di voler eliminare l'avventura?</ion-content>
      <ion-button (click)="delete(id)">Si</ion-button>
      <ion-button (click)="dismiss()">No</ion-button>
    </ng-template>
</ion-modal>