<app-headbar [title]="title"></app-headbar>

<ion-content>
  <div [ngSwitch]="path" *ngIf="initilizated">
      <div *ngSwitchCase="'adventures'">
          <app-adventure-item [items]="items" (newItem)="reload()"></app-adventure-item>
      </div>
      <div *ngSwitchCase="'notas'">
        <app-notas [items]="items" [idAdv]="idAdv"></app-notas>
      </div>
      <div *ngSwitchCase="'skills'">
        <app-skills [items]="items" [idAdv]="idAdv"></app-skills>
      </div>
      <div *ngSwitchCase="'badges'">
        <app-badges [items]="items" [idAdv]="idAdv"></app-badges>
      </div>
      <div *ngSwitchCase="'pg'">
        <app-pgs [items]="items" [idAdv]="idAdv"></app-pgs>
      </div>
      <div *ngSwitchCase="'treasure'">
        <app-treasure [items]="items" [idAdv]="idAdv"></app-treasure>
      </div>
    <div *ngSwitchDefault>
        
      </div>
  </div>
</ion-content>
